apiVersion: apps/v1
kind: Deployment
metadata:
  name: base-deployment
  labels:
    app: baseline-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: baseline-app
  template:
    metadata:
      labels:
        app: baseline-app
    spec:
      containers:
      - name: randomly-failing-app
        image: test-app:v2
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 80
          initialDelaySeconds: 2
          periodSeconds: 2
          timeoutSeconds: 1
          failureThreshold: 1  

--- 

apiVersion: v1
kind: Service
metadata:
  name: baseline-svc
  labels:
    app: baseline-app
spec:
  type: ClusterIP
  selector:
    app: baseline-app
  ports:
    - name: http
      protocol: TCP
      port: 80       
      targetPort: 80 