---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - pods
  - pods/status
  - services
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - infra.sharduljunagade.github.io
  resources:
  - dnsmonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infra.sharduljunagade.github.io
  resources:
  - dnsmonitors/finalizers
  verbs:
  - update
- apiGroups:
  - infra.sharduljunagade.github.io
  resources:
  - dnsmonitors/status
  verbs:
  - get
  - patch
  - update
